<nav>
    <div class="nav-left">
      <ul class="nav-list">
        <li class="nav-item"><a class="navbar" href="{{url_for('index')}}">Home</a></li>
        <li class="nav-item"><a class="navbar" href="{{url_for('team_members')}}">TeamMembers</a></li>
        <li class="nav-item"><a class="navbar" href="{{url_for('tickets')}}">Tickets</a></li>
      </ul>
    </div>
    <div class="nav-right">
      <input name="search" type="text" placeholder="Search" aria-label="Search">
      <button type="submit">Search</button>
    </div>
</nav>