<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="utf-8">
    <title>FC Roggwil 1. Mannschaft</title>
  </head>
  <body>
    <p>Liste aller Spieler</p>
    <form action="/TeamMembers" METHOD="POST">
        <input type="text" placeholder="Vorname" name="first_name">
        <input type="text" placeholder="Nachname" name="last_name">
        <input type="text" placeholder="Trikotnummer" name="shirt_number">
        <input type="text" placeholder="Rolle" name="role"> 
        <input type="submit" value="Add Name">
    </form>
    <br/><br/>
    {% for player in players %}
    <div>
        <h3>{{player.first_name}}</h3>
        <h3>{{player.last_name}}</h3>
        <h3>{{player.shirt_number}}</h3>
        <h3>{{player.role}}</h3>
        <a href="/update/{{ player.id }}">Update</a>
        <a href="/delete/{{ player.id }}">Delete</a>
    </div>
    {% endfor %}
  </body>
</html>